body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family: Arial, sans-serif;
}

#controlUI {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: none;
}

button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}
